<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
    aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="basicExampleNav1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item pl-2 mb-2 mb-md-0">
        <a href="{{path('products')}}" type="button"
          class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light">Liste des produits</a>
      </li>
    </ul>
  </div>
</nav>